extends layout

block content
  h1= title
  ul
    li Choose a txt file with a URL on each line
    li Hit upload
    li ???
    li Profit
  br

  form(action="upload", method="post", enctype="multipart/form-data")
    input(type="file", name="urls", required)
    input(type="submit", value="upload", class="btn")
